$font-family: franklin-gothic-urw, serif
$light: #fafafa
$dark: #1F2125
$border: #E0E0E0
$gray: #D9D9D9
$text-gray: #6F7881
$dark-gray: #36383B

$screen-phone-max: 768px
$screen-tablet-max: 992px
$screen-laptop-max: 1200px
$screen-desktop-max: 1440px

=phone
  @media only screen and (max-width: $screen-phone-max)
    @content

=tablet
  @media only screen and (max-width: $screen-tablet-max)
    @content

=laptop
  @media only screen and (max-width: $screen-laptop-max)
    @content

=desktop
  @media only screen and (max-width: $screen-desktop-max)
    @content

=constrain
  margin: 0 auto
  max-width: 1000px
  +laptop
    max-width: $screen-tablet-max
  +tablet
    max-width: $screen-phone-max


.ridings
  display: flex
  flex-direction: column
  width: 100%
  min-height: 100vh
  min-height: calc(100 * var(--vh, 1vh))

  .spinner
    flex: 1
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    svg
      max-width: 250px
      color: $dark


  header
    display: flex
    justify-content: center
    align-items: center

    border-bottom: 1px solid $border
    background: white
    color: $dark
    height: 82px
    svg
      height: 25px

  main
    display: flex
    flex-direction: column
    flex: 1
    min-height: calc(100vh - 82px + 1px)
    min-height: calc(100 * var(--vh, 1vh) - 82px + 1px)
    transition: min-height 0.25s ease-in
    background: $light
    border-bottom: 1px solid $border

    .riding-selector
      height: 100px
      background: white
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      border-bottom: 1px solid $border

      .Select-control
        text-align: center
        border: 1px solid $border !important
        box-shadow: none !important
        background: white
        border-radius: 8px
        height: 45px
        max-width: 500px
        +phone
          max-width: 360px

      .Select-value
        font-size: 20px
        line-height: 45px
        font-family: $font-family
        font-style: normal
        font-weight: 500

    .reco
      flex: 1
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center

      img.party
        width: 350px
        max-width: 70vw
        margin: 0 auto
        height: auto

      .result-text
        font-family: $font-family
        text-align: center
        display: block
        font-size: 50px
        +phone
          font-size: 36px
        line-height: 1.1em
        font-weight: 700
        color: $dark

        small
          color: $text-gray
          font-size: 20px
          line-height: 1.4em
          font-weight: 500
          text-transform: uppercase
          display: block
          margin-bottom: 1.5em

        .br
          display: inline
          +phone
            display: block

        img
          display: block


    .chart
      +constrain
      height: 150px
      width: 100%
      margin-bottom: -5px // recharts, y?

      .my-tooltip
        background: $dark
        color: $light
        padding: 0.8em 1em
        border-radius: 8px
        transform: translate(-66%, -150%)


  section.faq
    background: white
    display: flex
    flex-direction: column
    margin: 0 auto
    padding: 40px 0 100px 0
    max-width: 700px
    +laptop
      max-width: 500px
    +tablet
      max-width: 400px
    +phone
      padding-left: 2em
      padding-right: 2em

    h2
      font-family: $font-family
      text-align: center
      +phone
        text-align: left
      display: block
      font-size: 30px
      line-height: 1.3em
      font-weight: 700
      color: $dark
      margin-top: 2em
      margin-bottom: 0
    p
      font-family: $font-family
      text-align: left
      display: block
      font-size: 18px
      line-height: 1.5em
      color: $text-gray
      margin: 0.5em 0
    a
      color: $text-gray
      text-decoration: none
      border-bottom: 1px dashed $text-gray
      &:hover
        border-top: 1px dashed $text-gray


  footer
    display: flex
    flex-direction: column
    justify-content: space-between
    // align-items: center

    font-family: $font-family

    background: $dark
    color: $light
    a, svg
      opacity: 0.5
      transition: all 0.15s
      &:hover
        opacity: 1


    > *
      width: 100%

    .top
      +constrain
      +phone
        padding: 0 1.5em
      display: flex
      justify-content: space-between
      align-items: center
      min-height: 100px
      +phone
        min-height: 80px

      > svg
        height: 25px
        opacity: 1
        +phone
          height: 20px

      .share
        display: flex
        flex-direction: row
        div
          cursor: pointer
          &:hover
            color: $light
          svg
            height: 24px
            width: 24px
            margin: 0 58px 0 0
            +phone
              height: 32px
              width: 32px
              margin: 8px

          &:last-of-type
            svg
              margin-right: 0

    .bottom
      +constrain
      +phone
        padding: 0 1.5em
      border-top: 1px solid $dark-gray
      min-height: 100px

      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center
      font-size: 20px
      font-weight: 500

      a, a:hover, a:visited, span
        color: inherit
        text-decoration: none
        cursor: pointer

      .links
        flex: 1
        display: flex
        justify-content: space-between
        +phone
          display: flex
          flex-direction: column
          a
            line-height: 2em
            &:first-of-type
              margin-top: 1em
            &:last-of-type
              margin-bottom: 1em
            padding: 0
            border: 0
      .lamnguageSelector
        width: 200px
        text-align: right

