.wards
  display: flex
  flex-direction: column
  height: 100%
  width: 100%
  h1
    font-weight: normal
  .Select-value
    text-align: center
  .reco
    flex: 1
    flex-direction: column
    display: flex
    align-items: center
    justify-content: center
    img
      max-width: 100%
      height: auto
  .chart
    height: 150px

